RewriteEngine On
RewriteRule ^pvc-panels-lucknow\.html$ /pvc-panel-installation-lucknow.html [R=301,L]
RewriteRule ^pvc-panels-lucknow$ /pvc-panel-installation-lucknow.html [R=301,L]
RewriteRule ^pvc-panels-gorakhpur\.html$ /pvc-panel-installation-gorakhpur.html [R=301,L]
RewriteRule ^pvc-panels-gorakhpur$ /pvc-panel-installation-gorakhpur.html [R=301,L]
RewriteRule ^pvc-panels-sultanpur\.html$ /pvc-panel-installation-sultanpur.html [R=301,L]
RewriteRule ^pvc-panels-sultanpur$ /pvc-panel-installation-sultanpur.html [R=301,L]
RewriteRule ^pvc-panels-gonda\.html$ /pvc-panel-installation-gonda.html [R=301,L]
RewriteRule ^pvc-panels-gonda$ /pvc-panel-installation-gonda.html [R=301,L]
RewriteRule ^pvc-panels-basti\.html$ /pvc-panel-installation-basti.html [R=301,L]
RewriteRule ^pvc-panels-basti$ /pvc-panel-installation-basti.html [R=301,L]
RewriteRule ^pvc-panels-amethi\.html$ /pvc-panel-installation-amethi.html [R=301,L]
RewriteRule ^pvc-panels-amethi$ /pvc-panel-installation-amethi.html [R=301,L]
RewriteRule ^pvc-panels-barabanki\.html$ /pvc-panel-installation-barabanki.html [R=301,L]
RewriteRule ^pvc-panels-barabanki$ /pvc-panel-installation-barabanki.html [R=301,L]
RewriteRule ^pvc-panels-ambedkar-nagar\.html$ /pvc-panel-installation-ambedkar-nagar.html [R=301,L]
RewriteRule ^pvc-panels-ambedkar-nagar$ /pvc-panel-installation-ambedkar-nagar.html [R=301,L]
